<ion-view title="Saving" id="">
  <ion-content padding="true" class="has-header">
    <div id="saving-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:11px;">Only you can see, what you have saved.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <div style="margin-right:-20px;">
      <button id="saving-button114" style="left:-10px;" class="button button-light button-large button-full icon ion-ios-pricetag-outline"></button>
    </div>
    <div id="saving-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Save pictures and videos,that you wolud like to see again. Only you can see what you have saved.</p>
    </div>
  </ion-content>
</ion-view>