<ion-view>
    <ion-nav-title>
     Options
    </ion-nav-title>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <a ui-sref="tab-account-grid.html" id="settings-button292" class="button button-light button-small icon ion-ios-arrow-ack"></a>
    <div id="settings-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:8px;">INVITE</p>
    </div>
    <div id="settings-button-bar31" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button149" style="left:-10px;" class="button button-light  button-full icon-left ion-social-facebook"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button150" style="left:-10px;" class="button button-light  button-full">Facebook Friends</button>
      </div>
      <button id="settings-button152" class="button button-light"></button>
      <div style="margin-right:-20px;">
        <button id="settings-button155" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button156" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <div id="settings-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:8px;">FOLLOW PEOPLE</p>
    </div>
    <div id="settings-button-bar32" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button157" style="left:-10px;" class="button button-light  button-full icon-left ion-social-facebook"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button160" style="left:-10px;" class="button button-light  button-full">Facebook Friends</button>
      </div>
      <button id="settings-button162" class="button button-light"></button>
      <div style="margin-right:-20px;">
        <button id="settings-button163" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button164" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <div id="settings-button-bar33" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button165" style="left:-10px;" class="button button-light  button-full icon-left ion-android-person"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button166" style="left:-10px;" class="button button-light  button-full">Contacts</button>
      </div>
      <button id="settings-button167" class="button button-light"></button>
      <div style="margin-right:-20px;">
        <button id="settings-button168" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button169" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <div id="settings-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:8px;">ACCOUNT</p>
    </div>
    <div id="settings-button-bar34" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button170" style="left:-10px;" class="button button-light  button-full">Story settings</button>
      </div>
      <button id="settings-button171" class="button button-light  button-block"></button>
      <button id="settings-button172" class="button button-light"></button>
      <div style="margin-right:-20px;">
        <button id="settings-button173" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button174" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <div id="settings-button-bar35" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button175" style="left:-10px;" class="button button-light  button-full">Edit Profile</button>
      </div>
      <button id="settings-button176" class="button button-light  button-block"></button>
      <button id="settings-button177" class="button button-light"></button>
      <div style="margin-right:-20px;">
        <button id="settings-button178" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button179" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <div id="settings-button-bar36" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button180" style="left:-10px;" class="button button-light  button-full">Change Password</button>
      </div>
      <button id="settings-button181" class="button button-light  button-block"></button>
      <button id="settings-button182" class="button button-light"></button>
      <div style="margin-right:-20px;">
        <button id="settings-button183" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button184" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <div id="settings-button-bar37" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button185" style="left:-10px;" class="button button-light  button-full">Posts that you've Liked</button>
      </div>
      <button id="settings-button187" class="button button-light  button-block"></button>
      <div style="margin-right:-20px;">
        <button id="settings-button188" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button189" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <div id="settings-button-bar39" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button199" style="left:-10px;text-align:left;" class="button button-light  button-full">Two-factor Authenticati</button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button201" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button221" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button205" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button202" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <div id="settings-button-bar41" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button213" style="left:-10px;" class="button button-light  button-full">Blocked Users</button>
      </div>
      <button id="settings-button214" class="button button-light  button-block"></button>
      <div style="margin-right:-20px;">
        <button id="settings-button215" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button216" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <div id="settings-button-bar43" class="button-bar">
      <div style="margin-right:-20px;">
        <button id="settings-button222" style="left:-10px;" class="button button-light  button-full">Switch to Business Profi</button>
      </div>
      <button id="settings-button223" class="button button-light  button-block"></button>
      <div style="margin-right:-20px;">
        <button id="settings-button224" style="left:-10px;" class="button button-light  button-full"></button>
      </div>
      <div style="margin-right:-20px;">
        <button id="settings-button225" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
      </div>
    </div>
    <form id="settings-form4" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle1">Private Account</ion-toggle>
      <div id="settings-markdown15" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:8px;">When your account is private, only people you approve can see your photos and videos on Instagram. Your existing followers won't be affected</p>
      </div>
      <div id="settings-markdown16" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:8px;">SETTINGS</p>
      </div>
      <div id="settings-button-bar44" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button226" style="left:-10px;" class="button button-light  button-full">Linked Accounts</button>
        </div>
        <button id="settings-button227" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button228" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button229" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar45" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button230" style="left:-10px;" class="button button-light  button-full">Language</button>
        </div>
        <button id="settings-button231" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button232" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button233" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar46" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button234" style="left:-10px;" class="button button-light  button-full">Push Notification Setti</button>
        </div>
        <button id="settings-button235" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button236" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button237" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar47" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button238" style="left:-10px;" class="button button-light  button-full">Mobile Data Use</button>
        </div>
        <button id="settings-button239" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button240" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button241" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar48" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button242" style="left:-10px;" class="button button-light  button-full">Comments</button>
        </div>
        <button id="settings-button243" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button244" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button245" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle2">Save Original Photos</ion-toggle>
      <div id="settings-markdown17" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:8px;">SUPPORT</p>
      </div>
      <div id="settings-button-bar49" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button246" style="left:-10px;" class="button button-light  button-full">Help Centre</button>
        </div>
        <button id="settings-button247" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button248" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button249" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar50" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button250" style="left:-10px;" class="button button-light  button-full">Report a Problem</button>
        </div>
        <button id="settings-button251" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button252" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button253" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-markdown18" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:8px;">ABOUT</p>
      </div>
      <div id="settings-button-bar51" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button254" style="left:-10px;" class="button button-light  button-full">Adverts</button>
        </div>
        <button id="settings-button255" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button256" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button257" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar52" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button258" style="left:-10px;" class="button button-light  button-full">Blog</button>
        </div>
        <button id="settings-button259" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button260" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button261" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar53" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button262" style="left:-10px;" class="button button-light  button-full">Privacy Policy</button>
        </div>
        <button id="settings-button263" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button264" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button265" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar54" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button266" style="left:-10px;" class="button button-light  button-full">Terms</button>
        </div>
        <button id="settings-button267" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button268" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button269" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar55" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button270" style="left:-10px;" class="button button-light  button-full">Open-source Libraries</button>
        </div>
        <button id="settings-button271" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button272" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button273" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div class="spacer" style="width: 300px; height: 8px;"></div>
      <div id="settings-button-bar56" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button274" style="left:-10px;color:#4A53A7;" class="button button-light  button-full">Clear Search History</button>
        </div>
        <button id="settings-button275" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button276" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <button id="settings-button277" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></button>
        </div>
      </div>
      <div id="settings-button-bar57" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button278" style="left:-10px;color:#4A53A7;" class="button button-light  button-full">Add Account</button>
        </div>
        <button id="settings-button279" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button280" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <a ui-sref="tabsController.instagram2" id="settings-button281" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></a>
        </div>
      </div>
      <div id="settings-button-bar58" class="button-bar">
        <div style="margin-right:-20px;">
          <button id="settings-button282" style="left:-10px;color:#4A53A7;" class="button button-light  button-full">Log out of jass3r</button>
        </div>
        <button id="settings-button283" class="button button-light  button-block"></button>
        <div style="margin-right:-20px;">
          <button id="settings-button284" style="left:-10px;" class="button button-light  button-full"></button>
        </div>
        <div style="margin-right:-20px;">
          <a ui-sref="tabsController.instagram2" id="settings-button285" style="left:-10px;" class="button button-light  button-full icon ion-ios-arrow-right"></a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
