<ion-view title="Pictures of you" id="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-more-horizontal"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 141px;"></div>
    <div id="picturesOfYou-button-bar24" class="button-bar">
      <button id="picturesOfYou-button117" class="button button-stable  button-block"></button>
      <div style="margin-right:-20px;">
        <button id="picturesOfYou-button118" style="left:-10px;" class="button button-stable button-large button-full icon ion-android-person"></button>
      </div>
      <button id="picturesOfYou-button119" class="button button-stable  button-block"></button>
    </div>
    <div id="picturesOfYou-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Here you can see, pictures where you have been tagged into.</p>
    </div>
  </ion-content>
</ion-view>